{block #head}
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/details.css">
{/block}

{block #titulek} - Detaily{/block}

{block #headline}Více informací{/block}

{block #content}

<div id="grid">
    <p>Více informací získáte na webových stránkách <a href="https://www.couchsurfing.org/" target="_blank">Couchsurfingu</a></p>
    <a href="https://www.couchsurfing.org/" target="_blank"><img src="{$basePath}/images/logo.jpg" alt="Couchsurfing logo"></a>
</div>