#grid {
    width: 900px;
    margin: 5px auto;
    height: 100%;
}

#grid #left {
    width: 400px;
    float: left;
}

#grid #right p {
    margin: 0 0 10px 0;
}

#grid #right {
    width: 480px;
    float: right;
}

#grid img {
    width: 400px;
    height: 300px;
    border: 5px solid #29120c;
}

#grid .clear {
    clear: both;
}